vendor
node_modules
.env
.env.docker
!.env.example
storage/*.key
.vscode
tests
.git
.github
docker-compose.*
README.md
npm-debug.log
yarn.lock
storage/framework/cache/data
storage/logs
storage/debugbar
storage/app/public
database/*.sqlite
