vendor
node_modules
.env
!.env.example
storage/*.key
.vscode
tests
.git
.github
docker-compose.*
README.md
npm-debug.log
yarn.lock
node_modules
.env
!.env.example
.git
.github
storage/framework/cache/data
storage/logs
storage/debugbar
